@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto';
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 1rem;
}

thead {
  background-color: hsl(0, 0%, 70%);
  color: black;
}

th,
td {
  border: 1px solid black;
  padding: 8px 12px;
}
th {
  user-select: none;
}

th[role='button']:hover {
  background-color: hsl(0, 0%, 90%);
}

td {
  text-align: left;
}

td:last-of-type {
  text-align: right;
}

.formContainer {
  position: absolute;
  background-color: white;
  padding: 24px;
  margin: 0 auto;
  color: black;
  border-radius: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  font-size: 18px;
  padding: 4px 6px;
}

.infoPage {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

img {
  width: fit-content;
}

.categories {
  margin-top: 4px;
}

.category {
  padding: 4px 6px;
  background-color: rgb(134, 227, 227);
  width: fit-content;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.quote {
  background-color: hsl(0, 0%, 10%);
  padding: 20px 20px 20px 40px;
  font-size: 18px;
}

.extraData {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: hsl(0, 0%, 12%);
  padding: 20px 18px;
  border-radius: 4px;
}

h3 {
  padding: 0;
  margin: 0;
}

.extraData div {
  font-size: 14px;
  font-weight: bold;
}

.extraData .label {
  font-weight: normal;
  font-size: 16px;
  color: hsl(0, 0%, 61%);
}

nav {
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 20px;
}

.redBtn {
  background-color: brown;
  color: white;
  font-weight: bold;
}
